doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Just Pick It
    link(href='https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet')
  body
    nav(class=['navbar', 'fixed-top', 'navbar-dark', 'bg-dark', 'justify-content-between'])
      a(href='/' class='navbar-brand') Just Pick It
      button#logout(class=['btn', 'btn-outline-primary', 'btn-sm']) Logout
    div(style="padding-top: 76px;")
      div.row(style="margin: 0;")
        div(class=['col-sm-1'])
        div(class=['col-sm-10'])
          div(style={display: 'flex', 'justify-content': 'space-between'})
            button#update(type='button' class=['btn', 'btn-outline-primary', 'btn-ms'] style={width: '82px'}) Update
            form.form-inline
              label.mr-sm-2 Title
              input(type='text' class=['form-control', 'mb-2', 'mr-sm-2', 'mb-sm-0'] name='title')
              div.form-group(style={'margin-left': '8px'})
                label.mr-sm-2 isFree
                select.form-control(name='isFree' style={width: '100px', 'margin-right': '8px'})
                  option(value='1') ~
                  option(value='2') Y
                  option(value='3') N
              div.form-group(style={'margin-left': '8px'})
                label.mr-sm-2 Platform
                select.form-control(name='isFree' style={width: '140px'})
                  option(value='1') ~
                  option(value='2') QQ
                  option(value='3') Youku
                  option(value='4') iQiyi
                  option(value='5') Sohu
                  option(value='6') LeTV
                  option(value='7') MangoTV
                  option(value='8') PPTV
                button#search(type='submit' class=['btn', 'btn-outline-success'] style={'margin-left': '8px'}) Search
          hr
          if ret.flag == 1
            div(style={display: 'flex', 'flex-wrap': 'wrap', 'justify-content': 'space-between', margin: '0 -10px 0 -10px'})
              each val, index in ret.data
                div.card(style={width: 'calc(20% - 20px)', margin: '0 10px 20px 10px'})
                  img.card-img-top(src=val.images.large)
                  div(style={padding: '10px'})
                    h6=val.title
                    small(style={color: '#9e9e9e'})
                      each gval, gindex in val.genres
                        if gindex != val.genres.length -1
                          =gval + ' / '
                        else
                          =gval
                    small(style={color: '#ee6373', padding: '0 10px'})=val.rating
            nav
              ul(class=['pagination', 'justify-content-center'])
                if ret.p == 1
                  li(class=['page-item', 'disabled'])
                else
                  li.page-item
                    a.page-link(href='/admin?p=' + (ret.p - 1))
                      span &laquo;
                      span.sr-only Previous
                h6(style={padding: '0 20px', height: '38px', 'line-height': '38px', color: '#9e9e9e'})= ret.p + ' / ' + ret.total
                if ret.p == ret.total
                  li(class=['page-item', 'disabled'])
                else
                  li.page-item
                    a.page-link(href='/admin?p=' + (parseInt(ret.p) + 1))
                      span &raquo;
                      sapn.sr-only Next
        div(class=['col-sm-1'])
    script(src='/js/admin.js' type='text/javascript')
