doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Just Pick It
    link(href='https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet')
  body
    nav(class=['navbar', 'fixed-top', 'navbar-dark', 'bg-dark'])
      a(href='/' class='navbar-brand') Just Pick It
      button#logout(class=['btn', 'btn-outline-primary', 'btn-sm']) Logout
    script(src='/js/admin.js' type='text/javascript')
